* {
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.map{
    width: 85vw;
    height: 100vh;
}
.grid-container {
    display: grid;
    grid-template-columns: 15vw 85vw;
    grid-template-rows: 100vh;
    grid-gap: 0px;

}